//
	Fixed navbar 
.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/', class=(template=='index' || template=='home') && 'active') Date Now
		.navbar-collapse.collapse
			if (!req.user)
				ul.nav.navbar-nav
					li(class=template=='about' && 'active')
						a(href='/about') About
			else
				ul.nav.navbar-nav
					li(class=template=='search' && 'active')
						a(href='/search') Search
				ul.nav.navbar-nav
					li(class=template=='view-user' && 'active')
						a(href='/view-user') View Profile

			ul.nav.navbar-nav.navbar-right
	
				if (req.user)
					li.dropdown(ng-controller="NavCtrl", userid=req.user.id, ng-cloak)
						a.dropdown-toggle(href='#', data-toggle='dropdown')
							img(src='{{user.pic}}'+'?type=square', height='20px')
							span  &nbsp;{{user.name}}
							span.caret
						ul.dropdown-menu(role='menu')
							li
								a(href='profile')
									span.glyphicon.glyphicon-user
									span  Profile
							//
								li
									a(href='messages')
										span.glyphicon.glyphicon-envelope
										span  Messages 
										span.badge.pull-right 5
							li
								a(href='account')
									span.glyphicon.glyphicon-cog
									span  Account
							li.divider
							li
								a(ng-click="logout()")
									span.glyphicon.glyphicon-remove
									span  Logout
				else
					li
						a(role='button', data-toggle='modal', data-target='#login-form') Login

#login-form.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content(ng-controller="LoginCtrl")
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4.modal-title Login
			form.modal-body(name='loginForm')
				.form-group(ng-class="{'has-error': loginForm.name.$dirty && loginForm.name.$invalid}")
					label(for='login-name') Username
					input#login-name.form-control(ng-model='name', ng-required='true', name='name', placeholder='Username')
				.form-group(ng-class="{'has-error': loginForm.name.$dirty && loginForm.password.$invalid}")
					label(for='login-password') Password
					input#login-password.form-control(ng-model='password', ng-required='true', name='password', type='password', placeholder='Password')
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='button', ng-click="login()") Get Laid Now!