!!!
html
	body
		p We would like to thank you for joining Whotever.com private beta. As a member of Whotever, you will receive the following benefits:
		ul
			li Discover new interests
			li Organize those interests
			li Share your interests with your friends
		p Follow the link to sign up. &nbsp;
			a(href="http://whotever.com?email="+encodeURIComponent(email)+"&betaKey="+encodeURIComponent(betaKey)) Join
		p Thank you again for joining Whotever and enjoy the web while we simplify it for you.
		p Sincerely,
		p Team Whotever
		img(src='http://whotever.com/img/primary-logo.png')